@{
    ViewBag.Title = "Home Page";
} 
<div class="row ">
    <div class="col-md-6" style="min-height:800px;padding:0px">
        <div class="card no-rad-brtr" style="min-height:800px;padding:0px">
            <div class="card-header" style="padding:3px;">
                Agent 2 - Scorecard as of November 29, 2019
            </div>
            <div class="card-body"  style="padding:3px;">
                <div class="card">
                    <div class="card-header" style="padding:3px;" >
                        Quality Scores
                    </div>
                    <div class="card-body" style="padding:3px;font-size:0.75rem; overflow-x:auto;">
                        <table class="table-bordered table text-center">
                            <thead>
                            </thead>
                            <tbody>
                                <tr>
                                    <th rowspan="3" style="vertical-align : middle;text-align:center;">B.C.</th>
                                    <td colspan="2">Prev Month</td>
                                    <td colspan="2">Current Month</td>
                                    <td colspan="2">Week 1</td>
                                    <td colspan="2">Week 2</td>
                                    <td colspan="2">Week 3</td>
                                    <td colspan="2">Week 4</td>
                                    <td colspan="2">Week 5</td>
                                </tr>
                                <tr>
                                    <td>Score</td>
                                    <td>Rank</td>
                                    <td>Score</td>
                                    <td>Rank</td>
                                    <td>Score</td>
                                    <td>Rank</td>
                                    <td>Score</td>
                                    <td>Rank</td>
                                    <td>Score</td>
                                    <td>Rank</td>
                                    <td>Score</td>
                                    <td>Rank</td>
                                    <td>Score</td>
                                    <td>Rank</td>
                                </tr>
                                <tr>
                                    <td>95%</td>
                                    <td>#2</td>
                                    <td>96%</td>
                                    <td>#1</td>
                                    <td>92%</td>
                                    <td>#4</td>
                                    <td>98%</td>
                                    <td>#1</td>
                                    <td>90%</td>
                                    <td>#4</td>
                                    <td>89%</td>
                                    <td>#9</td>
                                    <td>90%</td>
                                    <td>#7</td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table-bordered table text-center">
                            <thead>
                            </thead>
                            <tbody>
                                <tr>
                                    <th rowspan="3" style="vertical-align : middle;text-align:center;">E.U.C.</th>
                                    <td colspan="2">Prev Month</td>
                                    <td colspan="2">Current Month</td>
                                    <td colspan="2">Week 1</td>
                                    <td colspan="2">Week 2</td>
                                    <td colspan="2">Week 3</td>
                                    <td colspan="2">Week 4</td>
                                    <td colspan="2">Week 5</td>
                                </tr>
                                <tr>
                                    <td>Score</td>
                                    <td>Rank</td>
                                    <td>Score</td>
                                    <td>Rank</td>
                                    <td>Score</td>
                                    <td>Rank</td>
                                    <td>Score</td>
                                    <td>Rank</td>
                                    <td>Score</td>
                                    <td>Rank</td>
                                    <td>Score</td>
                                    <td>Rank</td>
                                    <td>Score</td>
                                    <td>Rank</td>
                                </tr>
                                <tr>
                                    <td>95%</td>
                                    <td>#2</td>
                                    <td>96%</td>
                                    <td>#1</td>
                                    <td>92%</td>
                                    <td>#4</td>
                                    <td>98%</td>
                                    <td>#1</td>
                                    <td>90%</td>
                                    <td>#4</td>
                                    <td>89%</td>
                                    <td>#9</td>
                                    <td>90%</td>
                                    <td>#7</td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table-bordered table text-center">
                            <thead>
                            </thead>
                            <tbody>
                                <tr>
                                    <th rowspan="3" style="vertical-align : middle;text-align:center;">C.C.</th>
                                    <td colspan="2">Prev Month</td>
                                    <td colspan="2">Current Month</td>
                                    <td colspan="2">Week 1</td>
                                    <td colspan="2">Week 2</td>
                                    <td colspan="2">Week 3</td>
                                    <td colspan="2">Week 4</td>
                                    <td colspan="2">Week 5</td>
                                </tr>
                                <tr>
                                    <td>Score</td>
                                    <td>Rank</td>
                                    <td>Score</td>
                                    <td>Rank</td>
                                    <td>Score</td>
                                    <td>Rank</td>
                                    <td>Score</td>
                                    <td>Rank</td>
                                    <td>Score</td>
                                    <td>Rank</td>
                                    <td>Score</td>
                                    <td>Rank</td>
                                    <td>Score</td>
                                    <td>Rank</td>
                                </tr>
                                <tr>
                                    <td>95%</td>
                                    <td>#2</td>
                                    <td>96%</td>
                                    <td>#1</td>
                                    <td>92%</td>
                                    <td>#4</td>
                                    <td>98%</td>
                                    <td>#1</td>
                                    <td>90%</td>
                                    <td>#4</td>
                                    <td>89%</td>
                                    <td>#9</td>
                                    <td>90%</td>
                                    <td>#7</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            </div>
        </div>
    <div class="col-md-6" style="padding:0px">
        <div class="col-12 no-rad-bltl" style="min-height:33.33%;height:1px;border-bottom-right-radius: 0px !important;">
            <div class="row" style="min-height: 100%;">
                <div class="col-6 card no-rad-bltl" style="padding:0px;border-bottom-right-radius: 0px !important;border-top-right-radius: 0px !important;">
                    <div class="card-header" style="padding:3px;">
                        Announcements
                    </div>
                    <div class="card-body" style="font-size:0.9rem;">
                        <h5>Item 1</h5>
                        <p>Announcemnet Example Sample 1</p>
                        <h5>Item 2</h5>
                        <p>Announcemnet Example Sample 2</p>
                    </div>
                </div>
                <div class="col-6 card no-rad-bltl" style="padding:0px;border-bottom-right-radius: 0px !important;">
                    <div class="card-header" style="padding:3px;">
                        Track Top 5 Performers
                    </div>
                    <div class="card-body" style="padding:3px;font-size:0.75rem;">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item font-weight-bold">1. Agent 1</li>
                            <li class="list-group-item">2. Agent 2</li>
                            <li class="list-group-item">3. Agent 3</li>
                            <li class="list-group-item">4. Agent 4</li>
                            <li class="list-group-item">5. Agent 5</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 card no-rad-bltl" style="min-height:33.33%;padding:0px;border-bottom-right-radius: 0px !important;border-top-right-radius: 0px !important;">
            <div class="card-header" style="padding:3px;">
                Attendance and Pay Hours
            </div>
            <div class="card-body" style="padding:3px;font-size:0.75rem;">

            </div>
        </div>
        <div class="col-12 card no-rad-bltl" style="min-height:33.33%;padding:0px;border-top-right-radius: 0px !important;">
            <div class="card-header" style="padding:3px;">
                Chat
            </div>
            <div class="card-body" style="padding:3px;font-size:0.75rem;">
                <ul class="nav nav-tabs" style="height:100%">
                    <li class="nav-item"    >
                        <a class="nav-link active" href="#">Team Leader</a> 
                        <br/>
                            <b style="padding:8px;">Agent 2 :</b> TL Please approve my A.L. Request 
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Team Members</a>
                    </li>
                </ul>
            </div>

        </div>
    </div> 
</div>