body {
}
footer.sticky-footer{
    padding: 0.8rem 0;
}
nav.topbar {
    height: 2.5rem !important;
    margin-bottom: 1rem !important;
}

/*no radius left right*/
.no-rad-bltl {
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
}
.no-rad-brtr {
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

/*Scrollbar Design*/
::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    background: gray;
}
::-webkit-scrollbar-thumb:horizontal {
    background: #000;
    border-radius: 10px;
}

.chatbox {
    border: thin;
    border-color: lightgrey;
    border-style: ridge;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    min-width: 90%;
    height: 143px;
    margin-top: 5px;
    padding: 5px;
    overflow-y: scroll;
}
table.dataTable th {
    vertical-align: middle !important;
}
.hidden{

    visibility:hidden !important;
}